<p style="color: green"><%= notice %></p>

<h1>Todos</h1>

<div id="todos">
    <% @todos.each do |todo| %>
    <tr>
        <td><%= todo.body %></td>
        <td><%= todo.is_done %></td>
    </tr>
    <% end %>
</div>
